.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b2125;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 0.2em;
  width: 6.5em;
}

.day {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
}

.month {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -1.4em;
  margin-bottom: -0.9em;
}

.year {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .date {
    padding: 0.1em;
    width: 4em;
  }
  .day {
    font-size: 1.4rem;
  }
  .month {
    font-size: 1rem;
  }
  .year {
    font-size: 0.9rem;
  }
}
